<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>PoorMusic</title>
    <th:block th:insert="~{styles :: styles}"></th:block>
    <th:block th:insert="~{scripts :: scripts}"></th:block>
</head>
<body>
    <header>
        <th:block th:insert="~{navbar :: navbar}"></th:block>
    </header>

    <main class="px-3">
        <h1>PoorMusic</h1>
        <p class="lead">Description</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
    </main>
</body>
</html>