<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>PoorMusic</title>
    <th:block th:insert="~{styles :: styles}"></th:block>
    <th:block th:insert="~{scripts :: scripts}"></th:block>
</head>
<body>
    <header>
        <th:block th:insert="~{navbar :: navbar}"></th:block>
    </header>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Collection</h1>
                    <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    <p>
                        <a th:href="@{/addPlaylistForm}" class="btn btn-primary my-2">Add new playlist</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/playlists}">Playlists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/albums}">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tracks}">Tracks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/artists}">Artists</a>
                </li>
            </ul>
        </div>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" th:each="playlist: ${playlists}">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <p class="card-text" th:href="${playlist.title}" th:text="${playlist.title}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a th:href="@{/showUpdateForm(playlistId=${playlist.id})}"
                                           type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a th:href="@{/deletePlaylist(playlistId=${playlist.id})}"
                                           type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    </div>
                                    <small class="text-body-secondary"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
