<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>PoorMusic</title>
    <th:block th:insert="~{styles :: styles}"></th:block>
    <th:block th:insert="~{scripts :: scripts}"></th:block>
</head>
<body>
    <header>
        <th:block th:insert="~{navbar :: navbar}"></th:block>
    </header>

<!--<div class="d-flex flex-column p-4 gap-4 py-md-5">-->
<!--    <div>-->
<!--        <h3>Add New Playlist</h3>-->
<!--    </div>-->
<!--    <div>-->
<!--        <form th:action="@{/savePlaylist}" th:object="${playlist}" method="POST">-->
<!--            <input type="text" th:field="*{title}" class="form-control col-4 mb-4" placeholder="Enter Title"/>-->
<!--            <button type="submit" class="btn btn-primary col-2">Save</button>-->
<!--            <input type="hidden" th:field="*{id}"/>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
    <main>
        <div class="d-flex-grow-1 flex-column flex-md-row p-4 gap-4 py-md-3 align-items-center justify-content-center">
            <div class="list-group">
                <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" th:each="track: ${album.getTracks()}">
                    <div class="flex-content me-auto">
                        <img src="https://avatars.yandex.net/get-music-content/5576540/6cb4a916.a.21564373-1/50x50" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0">
                    </div>
                    <div class="d-flex-grow-2 gap-2 w-100 justify-content-start">
                        <div>
                            <h6 class="mb-0">
                                <a th:href="${track.getTitle()}" th:text="${track.getTitle()}"></a>
                            </h6>
                            <p class="mb-0 opacity-75">
                                <a th:href="${track.getArtists()}" th:text="${track.getArtists()}"></a>
                            </p>
                        </div>
                    </div>
                    <div class="flex-content ms-auto">
                        <small class="opacity-50 text-nowrap" th:text="${track.getDuration()}"></small>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
