<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>PoorMusic</title>
  <th:block th:insert="~{styles :: styles}"></th:block>
  <th:block th:insert="~{scripts :: scripts}"></th:block>
</head>
<body>
  <header>
    <th:block th:insert="~{navbar :: navbar}"></th:block>
  </header>
  <main>
    <div class="container">
      <div class="row col-md-10">
        <h2>List of Registered Users</h2>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${users}">
          <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
          </tr>
        </th:block>
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>
